---
import { getCollection, render } from 'astro:content'
import Layout from '../../components/Layout.astro'
import MDXContainer from '../../components/MDXContainer.astro'
import PostHeader from '../../components/PostHeader.astro'
import Share from '../../components/Share.astro'
import slugify from 'slugify'
import { siteConfig } from '../../config'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts
    .filter(post => post.data.published)
    .map(post => {
      const slug = post.data.slug || slugify(post.data.title, { lower: true }) || post.slug
      return {
        params: { slug },
        props: { post },
      }
    })
}

const { post } = Astro.props
const { Content } = await render(post)
const slug = Astro.params.slug
---

<Layout
  title={post.data.title}
  description={post.data.description}
  url={`${siteConfig.siteUrl}/blog/${slug}`}
  image={post.data.image}
  isPost={true}
  date={post.data.date}
  active="blog"
>
  <div class="mt-22.5">
    <PostHeader title={post.data.title} date={post.data.date} image={post.data.image} />
    <MDXContainer>
      <Content />
    </MDXContainer>
    <Share title={post.data.title} path={`blog/${slug}`} />
  </div>
</Layout>
