---
import { getCollection } from 'astro:content'
import Layout from '../../components/Layout.astro'
import Card from '../../components/Card.astro'
import { getAllTagsWithCount, getPostTags } from '../../helpers/tags'
import { siteConfig } from '../../config'

const allPosts = await getCollection('blog')
const publishedPosts = allPosts
  .filter(post => post.data.published)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const posts = publishedPosts
const tags = getAllTagsWithCount(publishedPosts.map(p => ({ data: p.data })))
---

<Layout title="Blog" url={`${siteConfig.siteUrl}/blog`} active="blog">
  <div class="Blog mt-22.5">
    <div class="px-3.75 max-w-200 mx-auto mb-8.75">
      {
        posts.map(post => {
          const slug = post.data.slug || post.slug
          return (
            <Card
              title={post.data.title}
              date={post.data.date}
              image={post.data.image}
              externalImage={post.data.externalImage}
              excerpt={post.data.description || ''}
              tags={getPostTags(post.data.tags)}
              slug={slug}
            />
          )
        })
      }
    </div>
  </div>
</Layout>
