---
import { getCollection } from 'astro:content'
import Layout from '../../components/Layout.astro'
import Card from '../../components/Card.astro'
import Pagination from '../../components/Pagination/Pagination'
import { getAllTagsWithCount, getPostTags } from '../../helpers/tags'
import { siteConfig } from '../../config'

const POSTS_PER_PAGE = 20

const allPosts = await getCollection('blog')
const publishedPosts = allPosts
  .filter(post => post.data.published)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const totalPages = Math.ceil(publishedPosts.length / POSTS_PER_PAGE)
const currentPage = 0
const posts = publishedPosts.slice(0, POSTS_PER_PAGE)
const tags = getAllTagsWithCount(publishedPosts.map(p => ({ data: p.data })))

const hasNextPage = totalPages > 1
const hasPrevPage = false
---

<Layout title="Blog" url={`${siteConfig.siteUrl}/blog`} active="blog">
  <div class="Blog mt-22.5">
    <div class="px-3.75 max-w-200 mx-auto mb-8.75">
      {
        posts.map(post => {
          const slug = post.data.slug || post.slug
          return (
            <Card
              title={post.data.title}
              date={post.data.date}
              image={post.data.image}
              externalImage={post.data.externalImage}
              excerpt={post.data.description || ''}
              tags={getPostTags(post.data.tags)}
              slug={slug}
            />
          )
        })
      }
      <Pagination
        pages={totalPages}
        selected={currentPage}
        hasNextPage={hasNextPage}
        hasPrevPage={hasPrevPage}
        client:load
      />
    </div>
  </div>
</Layout>
