---
export interface Props {
  projects: Array<{
    slug: string
    data: {
      title: string
      description?: string
      image?: string
      href?: string
      hrefText?: string
    }
  }>
  className?: string
}

const { projects, className } = Astro.props
---

<div
  class={`grid max-w-270 mx-auto justify-center gap-7.5 px-3.25 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ${className ?? ''}`}
>
  {
    projects.map(project => {
      return (
        <article>
          <div class="text-left no-underline">
            <div class="relative overflow-hidden rounded-2xl mb-3.25 border-2 border-[#f5f5f5] aspect-4/3">
              {project.data.image && (
                <img
                  alt="Portfolio item cover"
                  src={project.data.image}
                  class="w-full h-full object-cover"
                />
              )}
            </div>
            <div>
              <h3 class="text-[#052d3e] font-serif text-[22px] text-left w-full transition duration-300 inline m-0">
                {project.data.title}
              </h3>
              <p class="text-[#727272] m-0 text-sm pt-2.5">{project.data.description}</p>
            </div>
          </div>
          <div class="flex my-2.5 justify-between">
            {project.data.href && (
              <a
                href={project.data.href}
                target="_blank"
                rel="noopener noreferrer"
                class="group no-underline text-[#22292f] font-bold flex items-center text-sm transition duration-300 hover:opacity-80"
              >
                {project.data.hrefText && (
                  <>
                    {project.data.hrefText}{' '}
                    <span class="inline-block pl-1 transition-transform duration-300 group-hover:translate-x-1">
                      ➜
                    </span>
                  </>
                )}
              </a>
            )}
          </div>
        </article>
      )
    })
  }
</div>
