---
import '../styles/global.css'
import Seo from './Seo.astro'
import Navbar from './Navbar.astro'
import Footer from './Footer.astro'
import { siteConfig } from '../config'

export interface Props {
  title?: string
  description?: string
  image?: ImageMetadata
  url?: string
  isPost?: boolean
  date?: string | Date
  active?: string
  simple?: boolean
}

const {
  title,
  description,
  image,
  url,
  isPost = false,
  date,
  active = '',
  simple = false,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Seo
      title={title}
      description={description}
      image={image}
      url={url}
      isPost={isPost}
      date={date}
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar
      active={active}
      menu={siteConfig.menu}
      title={siteConfig.title}
      subtitle={siteConfig.subtitle}
    />
    <div class="min-h-100vh">
      <slot />
    </div>
    {!simple && <Footer />}
  </body>
</html>
