---
import AuthorPost from './AuthorPost.astro'

export interface Props {
  title: string
  date: string
  avatar?: string
  image?: string
  externalImage?: string
}

const { title, date, avatar, image, externalImage } = Astro.props
---

<div class="max-w-[900px] mx-auto mb-[26px] mt-[100px]">
  <h1 id="post_id" class="mt-[60px] text-[28px] m-0 px-2.5 sm:text-[28px] md:text-[37px]">
    {title}
  </h1>
  <AuthorPost date={date} avatar={avatar} />
  {image ? (
    <img alt={`${title} cover`} src={image} class="zoomable w-full" />
  ) : externalImage ? (
    <img class="externalHeaderImage text-center w-full" src={externalImage} />
  ) : null}
</div>
