---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import AuthorPost from './AuthorPost.astro'
import { isImageOptimizable } from '@/helpers/is-image-optimizable'

export interface Props {
  title: string
  date: Date
  avatar?: string
  image?: ImageMetadata | string
}

const { title, date, avatar, image } = Astro.props
const isPostImageOptimizable = isImageOptimizable(image)
---

<div class="max-w-225 mx-auto mb-6.5">
  <h1
    id="post_id"
    class="font-serif font-bold leading-10 text-[28px] m-0 px-2.5 sm:text-[28px] md:text-[37px]"
  >
    {title}
  </h1>
  <AuthorPost date={date} avatar={avatar} />
  {
    image &&
      (isPostImageOptimizable ? (
        <Image
          src={image as any}
          alt={`${title} cover`}
          inferSize
          widths={[400, 800, 1200]}
          sizes="(max-width: 900px) 100vw, 900px"
          loading="eager"
          class="w-full h-auto mt-6 rounded-md object-cover"
        />
      ) : (
        <img src={image as any} alt={`${title} cover`} class="w-full rounded-sm" />
      ))
  }
</div>
