---
export interface Props {
  title?: string
  description?: string
  image?: string
  url?: string
  isPost?: boolean
}

const {
  title = 'Dante Calderon',
  description = 'Dante Calderon - Backend Node.js Developer',
  image = 'https://dantecalderon.com/logo.png',
  url = 'https://dantecalderon.com/',
  isPost = false,
} = Astro.props

const fullTitle = title === 'Dante Calderon' ? title : `${title} · Dante Calderon`

const schemaOrgJSONLD = [
  {
    '@context': 'http://schema.org',
    '@type': 'WebSite',
    sameAs: [
      'https://twitter.com/dantehemerson',
      'https://www.facebook.com/Dante-Calder%C3%B3n-600909820246917/',
      'https://plus.google.com/u/0/101542534057875808813',
      'https://www.instagram.com/dantehemerson',
      'https://www.github.com/dantehemerson',
      'https://www.linkedin.com/in/dantecalderon',
    ],
    url: url,
    name: fullTitle,
    alternateName: description,
  },
]

if (isPost) {
  schemaOrgJSONLD.push(
    {
      '@context': 'http://schema.org',
      '@type': 'BreadcrumbList',
      sameAs: [
        'https://twitter.com/dantehemerson',
        'https://www.facebook.com/Dante-Calder%C3%B3n-600909820246917/',
        'https://plus.google.com/u/0/101542534057875808813',
        'https://www.instagram.com/dantehemerson',
        'https://www.github.com/dantehemerson',
        'https://www.linkedin.com/in/dantecalderon',
      ],
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          item: {
            '@id': url,
            name: fullTitle,
            image: image,
          },
        },
      ],
    },
    {
      '@context': 'http://schema.org',
      '@type': 'BlogPosting',
      sameAs: [
        'https://twitter.com/dantehemerson',
        'https://www.facebook.com/Dante-Calder%C3%B3n-600909820246917/',
        'https://plus.google.com/u/0/101542534057875808813',
        'https://www.instagram.com/dantehemerson',
        'https://www.github.com/dantehemerson',
        'https://www.linkedin.com/in/dantecalderon',
      ],
      url: url,
      name: fullTitle,
      alternateName: `${url} | Dante Calderon`,
      headline: fullTitle,
      image: {
        '@type': 'ImageObject',
        url: image,
      },
      description,
    }
  )
}
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta name="image" content={image} />
<meta name="distribution" content="global" />
<meta name="p:domain_verify" content="c397688e54fbd5c1a5dc40a1db9b809f" />

<meta property="fb:app_id" content="302184056577324" />
<meta property="og:url" content={url} />
<meta property="og:type" content={isPost ? 'article' : 'website'} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@dantehemerson" />
<meta name="twitter:creator" content="@dantehemerson" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Gentium+Book+Basic:400,400i,700,700i"
  rel="stylesheet"
/>
<link rel="manifest" href="/manifest.webmanifest" />

<script is:inline type="application/ld+json" set:html={JSON.stringify(schemaOrgJSONLD)} />
