---
export interface Props {
  title?: string
  description?: string
  image?: string
  url?: string
  isPost?: boolean
}

const {
  title = 'Dante Calderon',
  description = 'Dante Calderon - Backend Node.js Developer',
  image = 'https://dantecalderon.com/logo.png',
  url = 'https://dantecalderon.com',
  isPost = false,
} = Astro.props

const fullTitle = title === 'Dante Calderon' ? title : `${title} · Dante Calderon`

// Fix absolute image URL: (https://dantecalderon.com/_astro/....)
const imageUrl = image.startsWith('http') ? image : `https://dantecalderon.com${image}`

const schemaOrgJSONLD = [
  {
    '@context': 'http://schema.org',
    '@type': 'WebSite',
    '@id': url + '#website',
    sameAs: [
      'https://twitter.com/dantehemerson',
      'https://www.github.com/dantehemerson',
      'https://www.instagram.com/dantehemerson',
      'https://www.linkedin.com/in/dantecalderon',
    ],
    url: url,
    name: fullTitle,
  },
]

if (isPost) {
  schemaOrgJSONLD.push({
    '@context': 'http://schema.org',
    '@type': 'BlogPosting',
    url: url,
    name: fullTitle,
    image: {
      '@type': 'ImageObject',
      url: imageUrl,
    },
    description,
  })
}
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta name="image" content={imageUrl} />
<meta name="distribution" content="global" />

<meta property="og:url" content={url} />
<meta property="og:type" content={isPost ? 'article' : 'website'} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@dantehemerson" />
<meta name="twitter:creator" content="@dantehemerson" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageUrl} />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300..800&display=swap"
  rel="stylesheet"
/>

<link rel="manifest" href="/manifest.webmanifest" />

<script is:inline type="application/ld+json" set:html={JSON.stringify(schemaOrgJSONLD)} />
