---
import { siteConfig } from '../config'

export interface Props {
  title: string
  path?: string
}

const { title, path } = Astro.props
const url = `${siteConfig.siteUrl}/${path}`
---

<div class="max-w-225 mx-auto flex flex-wrap pt-0 pb-3.75 justify-center">
  <span class="w-full text-center font-semibold text-[15px] leading-0 mb-5">Share:</span>
  <a
    class="m-1 bg-[#caced2] rounded p-[0em_0.2em] transition duration-300 ease-in-out hover:bg-[#a9adb1]"
    href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(title)} by Dante Calderón(@dantehemerson) ${encodeURIComponent(url)}`}
    title="Share on Twitter"
    target="_blank"
    rel="noopener"
  >
    <img
      src="https://icongr.am/fontawesome/twitter.svg?color=ffffff"
      title="Share on Twitter"
      alt="Twitter"
      class="w-5.5 h-[84%] m-0 relative top-0.5"
    />
  </a>
  <a
    class="m-1 bg-[#caced2] rounded p-[0em_0.2em] transition duration-300 ease-in-out hover:bg-[#a9adb1]"
    href={`http://www.linkedin.com/shareArticle?url=${encodeURIComponent(url)}&isFramed=true`}
    title="Share on Linkedin"
    target="_blank"
    rel="noopener"
  >
    <img
      src="https://icongr.am/fontawesome/linkedin.svg?color=ffffff"
      title="Share on Linkedin"
      alt="LinkedIn"
      class="w-5.5 h-[84%] m-0 relative top-0.5"
    />
  </a>
</div>
