---
import { siteConfig } from '../config'
---

<div class="text-center">
  {
    siteConfig.social.map(item => (
      <a
        href={item.link}
        title={`${item.title} - ${siteConfig.title}`}
        rel="noopener"
        target="_blank"
        class="mx-0.5 w-6.5 h-6.5 p-1 transition duration-300 inline-block"
      >
        <img
          alt={item.title}
          src={`https://icongr.am/fontawesome/${item.icon}.svg?color=052d3f`}
          class="w-full m-0"
        />
      </a>
    ))
  }
</div>
